<template lang="pug">
  .about.pa-6
    v-form(@submit.prevent='subtmit')
      v-container
        v-row
          v-col(cols='12' md='4')
            v-text-field(
              v-model='identifier'
              type='number'
              :counter='10'
              label='Tax Id'
              required=''
            )
          v-col(cols='12' md='4')
            v-text-field(
              v-model='name'
              :counter='40'
              label='Business Name'
              required=''
            )
          v-col(cols='12' md='4')
            v-text-field(
              v-model='requestAmount'
              label='Requested amount'
              required=''
            )
        v-row
          v-col(cols='12')
            v-btn(
              type='submit'
              :disabled='isLoading'
            ) Enter
        v-row(v-show='showResult')
          v-col(cols='12')
            v-card(color='#385F73' dark='')
              v-card-title.headline
                | Request Result
              v-card-subtitle
                label {{status}} application
                br
                label Reference: {{uuid}}
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Application',

  data: () => ({
    showResult: false,
    isLoading: false
  }),
  computed: {
    ...mapState('application', {
      uuid: state => state.uuid,
      status: state => state.status
    }),
    identifier: {
      get () {
        return this.$store.state.application.identifier
      },
      set (value) {
        this.$store.commit('application/setIdentifier', value)
      }
    },
    name: {
      get () {
        return this.$store.state.application.name
      },
      set (value) {
        this.$store.commit('application/setName', value)
      }
    },
    requestAmount: {
      get () {
        return this.$store.state.application.requestAmount
      },
      set (value) {
        this.$store.commit('application/setRequestAmount', value)
      }
    }
  },
  methods: {
    ...mapActions('application', [
      'newApplication'
    ]),
    subtmit () {
      var self = this
      self.showResult = false
      self.isLoading = true

      this.newApplication().then(() => {
        self.showResult = true
      }).finally(() => {
        self.isLoading = false
      })
    }
  }
}
</script>
